@import "tailwindcss";

body {
  font-family: "Courier New", Courier, monospace;
  color: white;
  margin: 2;
  padding: 2;
  background-color: #1c1c1c;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

ul {
  display: flex;
  gap: 2.5rem;
}

li {
  display: block;
}
